<?xml version="1.0" encoding="utf-8"?>
<extpb>
  
  <!--应用程序名称配置-->
  <application id="QsWebSoft" name="水果通服务平台" company="科技有限公司" >
    <file type="pbd" name="test_01.pbd" />
    <file type="pbd" name="test_02.pbd" />
    <file type="dll" name="ExtPB.dll" />
  </application>
  
  <!--插件自动安装升级配置-->
  <updater version="1.0.2013.108" url="/extpb.net/extpb_updater.cab">
    <file name="extpb_pbvm" title="PowerBuilder 运行环境" version="12.5.1.4595" url="/extpb.net/pbvm.zip"  />
   <file name="extpb_main" title="ExtPB.Net 插件程序" version="1.0.2013.1125" url="/extpb.net/extpb_net.zip"  />
   <file name="extpb_msxml6" title="MSXML 6.0" version="6.10.1129.0" url="/extpb.net/msxml6.zip"  />
    <file name="demo" title="ExtPB.Net插件程序" version="1.0.2013.108" url="/extpb.net/ExtPB_Net.zip"  />
   </updater>


  <!-- 设置当前应用程序的控件皮肤颜色配置方案的XML文件路径 -->
  <skins>
  	<skin name="Blue"  src="/Skin/Blue.xml" />
  	<skin name="Green" src="/Skin/Green.xml" />
  </skins>
  
  <!-- 设置当前应用程序工具栏等控件图标的存取路径 -->
  <imagespath>/StripImages</imagespath> 
  
  <!-- 设置当前应用程序服务器端所需要使用的pbl或pbd文件 -->
  <libraryList>
    <file>/pbl/extpb_net_demo_01.pbl</file>
    <file>/pbl/extpb_net_demo_02.pbl</file>
    <file>/pbl/extpb_net_demo_bill.pbl</file>
    <file>/pbl/extpb_net_demo_hr.pbl</file>
    <file>/pbl/extpb_net_demo_chart.pbl</file>
    <file>/pbl/dddw.pbl</file>
    <file>/pbl/mxd.pbl</file>
    <file>/pbl/commodity.pbl</file>
    <file>/pbl/wldw.pbl</file>
    <file>/pbl/xt.pbl</file>
    <file>/pbl/xt_popwin.pbl</file>
    <file>/pbl/Dz_bgdj.pbl</file>
    <file>/pbl/dz_jhdj.pbl</file>
    <file>/pbl/yw_zjgl.pbl</file>
    <file>/pbl/yw_hddz.pbl</file>
    <file>/pbl/yw_dlxy.pbl</file>
    <file>/pbl/yw_wlxx.pbl</file>
    <file>/pbl/yw_xxcx.pbl</file>
    <file>/pbl/fruitease.pbl</file>
    <file>/pbl/yw_nbgl.pbl</file>
    <file>/pbl/yw_bjpt.pbl</file>
    <file>/pbl/yw_fybz.pbl</file>
    <file>/pbl/yw_szyw.pbl</file>
   </libraryList>
  
  <!-- 设置当前应用程序,所需要引用的通用的JS库文件,便于在vs.net环境中，使用JS的智能提示功能 -->
  <references>
    <file>/Scripts/ExtPB_Net.js</file>
    <file>/Scripts/MyExtPB.js</file>
    <file>/Beta3/ExtPB_Demo.js</file>
  </references>
  
  <!-- 设置当前应用程序所需要使用的数据库配置清单, 其中用于保存数据窗口布局,表定义和报表设计器语法的数据库连接信息，其name的值必须为main -->
  <dbProfiles>
    <profile name="main" type="QsWebSoft.DBHelp,QsWebSoft"/>
 </dbProfiles>
 
</extpb>
