<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=www.fruitease.com;DataBase=zjnb_bak; User ID=oheng;Pwd=Hongshen_110"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="SQLCONNECTIONSTRING" value="data source=222.204.247.83;uid=sa;pwd=123456;database=Sub;pooling=true;Connect Timeout=500;"></add>-->
    <add key="FCKeditor:BasePath" value="~/fckeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/web/UploadFiles/"/>
    <add key="FreshPortUser" value="oheng"/>
    <add key="tmsURL" value="https://tms.freshport.com"/>
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1024000" executionTimeout="1440"/>
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。 -->
    <customErrors mode="Off"/>
    <!--<customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
              <error statusCode="403" redirect="NoAccess.htm" />
              <error statusCode="404" redirect="FileNotFound.htm" />
      </customErrors> -->
    <pages controlRenderingCompatibilityVersion="3.5" validateRequest="false" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="PB" namespace="TXSoft.ExtPB" assembly="TXSoft.ExtPB, Version=12.5.0.0, Culture=neutral, PublicKeyToken=605e333093b7d2de"/>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
    <httpHandlers>
      <add verb="*" path="ExtPB_Service.axd" type="TXSoft.ExtPB.Service,TXSoft.ExtPB, Version=12.5.0.0, Culture=neutral, PublicKeyToken=605e333093b7d2de"/>
      <add verb="*" path="ajaxpro/*.ashx" type="AjaxPro.AjaxHandlerFactory, AjaxPro"/>
    </httpHandlers>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="240"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>