<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".aspx" mimeType="application/x-ms-application" />
            <mimeMap fileExtension=".asp" mimeType="application/x-ms-application" />
        </staticContent>
    </system.webServer>
</configuration>
