html, body{scroll-behavior: smooth; overflow: hidden;}
body{font:status-bar;font-size:12px;line-height:1.42858;}
h1,h2,h3,h4,h5,h6{margin:0;font-weight:400;font-size:100%;}
body,dd,dl,form,ol,p,ul{margin:0;}
ol,ul{padding:0;list-style-type:none;}
img{border:0 none;vertical-align:bottom;}
button,input,select,textarea{font-size:1em;font-family:inherit;}
a,a:hover{text-decoration:none;cursor:pointer;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
span{display:inline-block;}
.auto{margin-right:auto;margin-left:auto;}
.fix:after{clear:both;display:table;content:'';}
.cell{display:table-cell;width:2000px;}
.cell_bk{display:table;width:100%;table-layout:fixed;word-wrap:break-word;}
.ell{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;}
.trans{-webkit-transition:all .3s;transition:all .3s;}
.dib_vm{display:inline-block;width:0;height:100%;vertical-align:middle;}
.bd_none{outline:0;border:0;}
.abs_out{position:absolute;top:-999em;left:-999em;}
.abs_clip{position:absolute;clip:rect(0 0 0 0);}
.inline_box{letter-spacing:-.25em;font-size:1em;font-family:Arial;}
.inline_any,.inline_five,.inline_four,.inline_six,.inline_three,.inline_two{display:inline-block;vertical-align:top;letter-spacing:0;}
.float_five,.float_four,.float_six,.float_three,.float_two{float:left;}
.float_two,.inline_two{width:49.9%;}
.float_three,.inline_three{width:33.3%;}
.float_four,.inline_four{width:24.9%;}
.float_five,.inline_five{width:19.9%;}
.float_six,.inline_six{width:16.6%;}
.inline_fix{display:inline-block;overflow:hidden;width:100%;height:0;}
.inline_block{/* display:inline-block;*/ float:left;height:auto;/* overflow:hidden;*/ vertical-align:text-top;line-height:26px;height:26px;}
.nowrap{white-space:nowrap;}
.bk{word-wrap:break-word;}
.vm{vertical-align:middle;}
.vtb{vertical-align:text-bottom;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.vn{vertical-align:-2px;}
.l{float:left;}
.r{float:right;}
.cl{clear:both;}
.rel{position:relative;}
.abs{position:absolute;}
a{color:#4c5161;}
.fixedFull{position:fixed;left:0;top:0;bottom:0;right:0;width:100%;height:100%;overflow:hidden;}
.bgWhite{background:#fff;}
.borderBottom{border-bottom:1px solid #E3E8F1;}
.w100{width:100px;}
.borderLeft{border-left:1px solid #E3E8F1;}
.clip{position:absolute;clip:rect(0 0 0 0);*left:-99em}
/*button */
.ui-button{display:inline-block;line-height:20px;height:20px;font-size:12px;text-align:center;color:#4c5161;border:1px solid #d0d0d5;border-radius:4px;padding:2px 10px;min-width:50px;background-color:#fff;background-repeat:no-repeat;background-position:center;-webkit-transition:border-color .15s,background-color .15s;transition:border-color .15s,background-color .15s;cursor:pointer;overflow:visible;}
.ui-button.error{border-color:#f4615c !important;}
div.ui-button{display:block;}
.ui-button:hover{color:#4c5161;border-color:#ababaf;text-decoration:none;}
.ui-button:not(.disabled):active,.ui-button:not(.ui-button-loading):active{background-color:#f7f9fa;}
.ui-button.disabled:hover,.ui-button-loading,.ui-button-loading:hover{color:#4c5161;background-color:#fff;border-color:#d0d0d5;}
.ui-button-primary,.ui-button-primary.disabled:hover,.ui-button-primary.ui-button-loading:hover{border:1px solid #3f73ae;background-color:#3f73ae;color:#fff;}
.ui-button-primary:hover{background-color:#044894;border-color:#044894;opacity:0.9;color:#fff;}
.ui-button-primary:not(.disabled):active,.ui-button-primary:not(.ui-button-loading):active{background-color:#044894;border-color:#044894;opacity:0.8;}
.ui-button-success,.ui-button-success.disabled,.ui-button-success.disabled:hover,.ui-button-success.ui-button-loading:hover{border:1px solid #01cf97;background-color:#01cf97;color:#fff;}
.ui-button-success:hover{background-color:#00dba2;border-color:#00dba2;color:#fff;}
.ui-button-success:not(.disabled):active,.ui-button-success:not(.ui-button-loading):active{background-color:#00bf8e;border-color:#00bf8e;}
.ui-button-warning,.ui-button-warning.disabled,.ui-button-warning.disabled:hover,.ui-button-warning.ui-button-loading:hover{border:1px solid #f4615c;background-color:#f4615c;color:#fff;}
.ui-button-warning:hover{background-color:#ff7772;border-color:#ff7772;color:#fff;}
.ui-button-warning:not(.disabled):active,.ui-button-warning:not(.ui-button-loading):active{background-color:#dc5652;border-color:#dc5652;}
.ui-button-loading{cursor:default;pointer-events:none;color:transparent !important;}
.ui-button.ui-button-loading{background-image:url(images/Button/loading.gif);}
.ui-button-primary.ui-button-loading{background-image:url(images/Button/loading-primary.gif);}
.ui-button-success.ui-button-loading{background-image:url(images/Button/loading-success.gif);}
.ui-button-warning.ui-button-loading{background-image:url(images/Button/loading-warning.gif);}
/*IE7,IE8 loading文字隐藏控制 */@media \0screen\,screen\9{.ui-button-loading{height:38px;line-height:100px !important;*line-height:0 !important;vertical-align:top;overflow:hidden;}}
/*input */
input:not([type=search])::-ms-clear{display:none;}
/* reset [type=search] ui */[type=search]{-webkit-appearance:none;-webkit-box-sizing:content-box;box-sizing:content-box;}
[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;width:20px;height:20px;margin-right:-2px;background:#b6bbc6 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSIwIDAgMjAwIDIwMCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNGRkYiIGQ9Ik0wIDB2MjAwaDIwMFYwSDB6bTE1MS42MzYgMTM2LjQ4MmE3LjM3NCA3LjM3NCAwIDAgMSAwIDEwLjQyN2wtNS4yMTIgNS4yMWE3LjM3MiA3LjM3MiAwIDAgMS0xMC40MjYgMGwtMzYuNDgzLTM2LjQ4NUw2My4wMyAxNTIuMTJhNy4zNyA3LjM3IDAgMCAxLTEwLjQyNCAwbC01LjIxLTUuMjFhNy4zNyA3LjM3IDAgMCAxIDAtMTAuNDI4TDgzLjg4IDEwMCA0Ny4zOTYgNjMuNTE0YTcuMzY4IDcuMzY4IDAgMCAxIDAtMTAuNDI1bDUuMjEtNS4yMWE3LjM2OCA3LjM2OCAwIDAgMSAxMC40MjYgMEw5OS41MTYgODQuMzYgMTM2IDQ3Ljg4YTcuMzcgNy4zNyAwIDAgMSAxMC40MjUgMGw1LjIxMiA1LjIxYTcuMzcgNy4zNyAwIDAgMSAwIDEwLjQyNUwxMTUuMTUzIDEwMGwzNi40ODMgMzYuNDgyeiIvPjwvc3ZnPg==) no-repeat center;background-size:20px 20px;-webkit-transition:background-color .15s;transition:background-color .15s;cursor:pointer;}
[type=search]::-webkit-search-cancel-button:hover{background-color:#4c5161;}
input[type="search"]::-webkit-search-results-decoration{display:none;}
input:-webkit-autofill{box-shadow:0 0 0 1000px #fff inset;-webkit-box-shadow:0 0 0 1000px #fff inset;background-color:transparent;}
input[disabled],input[readonly]{cursor:default;}
input.ui-input,.ui-input>input{height:20px;line-height:20px;padding:0px 8px;border:1px solid #d0d0d5;border-radius:4px;background-color:#fff;font-size:12px;outline:none;color:#4c5161;-webkit-transition:border-color .15s,background-color .15s;transition:border-color .15s,background-color .15s;}
.ui-input:hover,.ui-input:hover>input{border-color:#ababaf;}
.ui-input:focus,.ui-input>input:focus{border-color:#00a5e0;}
span.ui-input{display:inline-block;}
div.ui-input>input{width:100%;height:40px;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
/* input with count */.ui-input-x{position:relative;padding:0 56px 0 3px;border-radius:4px;overflow:hidden;}
.ui-input-x>input{display:block;width:100%;height:20px;line-height:20px;padding:9px 0 9px;border:0 none;border-top:1px solid transparent;border-bottom:1px solid transparent;right:-6px;color:#4c5161;font-size:14px;outline:none;background:none;background-clip:content-box;position:relative;z-index:1;}
.ui-input-x>.ui-input{position:absolute;border:1px solid #d0d0d5;border-radius:4px;background-color:#fff;top:0;bottom:0;left:0;right:0;-webkit-transition:border-color .15s,background-color .15s;transition:border-color .15s,background-color .15s;}
.ui-input-count{line-height:38px;padding:0 2px;background-color:#fff;color:#a2a9b6;font-size:12px;white-space:nowrap;position:absolute;right:8px;top:1px;z-index:1;}
.ui-input-x:hover>.ui-input{border-color:#ababaf;}
/* 注意相邻位置，如果文本域前后位置发生变化，表单验证组件Validate.js 中 getTarget那里逻辑也要变化 */.ui-input-x>input:focus~.ui-input{border-color:#00a5e0;}
.ui-input-x .ui-placeholder{padding:9px 7px;z-index:1;}
/* type=[search] with icon */div.ui-search-input,span.ui-search-input{position:relative;}
.ui-search-input>input{padding-left:40px;}
.ui-icon-search{position:absolute;left:3px;top:1px;width:20px;height:20px;border:solid #fff;border-width:9px 8px;-webkit-transition:background-color .2s;transition:background-color .2s;text-indent:-9em;cursor:pointer;overflow:hidden;}
.ui-search-input:hover .ui-icon-search{background-color:#ababaf;}
.ui-search-input>input:focus~.ui-icon-search{background-color:#00a5e0;}
.ui-search-input>.error~.ui-icon-search,.ui-search-input>.error:focus~.ui-icon-search{background-color:#f4615c;}
/* IE使用png图片,虽然IE9+支持SVG，但是貌似渲染太慢，会暴露色块 */.ui-icon-search,.ui-search-right>.ui-icon-search:after{background:#b6bbc6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPdJREFUeNpi+k9lwMRAZYDLwCNAHAnEMkDMDqUjoeL4AZqLfwNxFhAz4MEg+V+4vIxuYApUjBOIG4H4DhD/hNKNUHEGqDqCBh6B8rmA+CgO9Ueh8gxQ9XgjZSqUrgBiKxwhBBIvg7KnEApDcajNdwikjLtQdVKEXPgSSssSiEcZKP2KULIRh9KPCRj4FEqLEjLQEUovJ2DgYihtRygMD5MYy4eJSYfZRKZDEE4C4n+EDPxFRE5hwGcoAw6vgbwTAU0azFA6BuiPQQ3BaSgDGSXUXyyG5lNiIDZDhWESLBQUe7OBmA+IFwBxMUyCEexMuiSwZAOAAAMAVJM+EQ2rrOoAAAAASUVORK5CYII=) no-repeat;}
/* IE13+和其他现代浏览器使用SVG */@supports (display:none){.ui-icon-search,.ui-search-right>.ui-icon-search:after{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSIwIDAgMjAwIDIwMCI+PGcgZmlsbD0iI2ZmZiI+PHBhdGggZD0iTTg0LjYyNSAzOS42MjVjLTI0Ljg1NCAwLTQ1IDIwLjE0Ni00NSA0NC45OTUgMCAyNC44NTggMjAuMTQ2IDQ1IDQ1IDQ1czQ1LTIwLjE0MiA0NS00NWMwLTI0Ljg1LTIwLjE0Ni00NC45OTUtNDUtNDQuOTk1eiIvPjxwYXRoIGQ9Ik0yMC42MjQgMEgwdjIwMGgyMDBWMEgyMC42MjR6TTE2NS4zNSAxNzkuMzQ2aC0uMDFjLTMuODQgMC03LjY3OC0xLjQ2Ni0xMC42MDUtNC4zOTRsLTM1LjE0Ni0zNS4xNDZjLTkuOTAzIDYuMTEzLTIxLjQ2NSA5LjgyMy0zMy45NjUgOS44MjMtMzUuODk4IDAtNjUtMjkuMTEtNjUtNjUuMDEgMC0zNS44OTggMjkuMTAyLTY0Ljk5NSA2NS02NC45OTUgMzUuODk3IDAgNjUgMjkuMDk3IDY1IDY0Ljk5NSAwIDEyLjUtMy43IDI0LjA2My05LjgxMyAzMy45NzRsMzUuMTQ2IDM1LjE0NmExNC45NSAxNC45NSAwIDAgMSA0LjM4OCAxMC42MDRjLS4wMDIgMy44NDMtMTEuMTU4IDE1LTE0Ljk5NiAxNS4wMDJ6Ii8+PC9nPjwvc3ZnPg==);background-size:20px 20px;}}
/* type=[search] icon right */.ui-search-right:after{display:inline-block;content:'';height:25px;}
div.ui-search-right{-ms-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-right:40px;overflow:hidden;}
.ui-search-right>input{float:left;padding-left:8px;padding-right:0;border-width:1px 0 1px 1px;border-color:transparent !important;background:none;position:relative;z-index:1;}
.ui-search-right>.ui-icon-search{position:static;float:left;margin-top:1px;margin-right:1px;}
div.ui-search-right>.ui-icon-search{margin-right:-40px;}
.ui-search-right>.ui-icon-search:before{content:'';position:absolute;left:0;right:0;top:0;bottom:0;border:1px solid #d0d0d5;background-color:#fff;border-radius:4px;-webkit-transition:border-color .15s;transition:border-color .15s;}
.ui-search-right>.ui-icon-search:after{content:'';position:absolute;top:10px;right:10px;width:20px;height:20px;-webkit-transition:background-color .2s;transition:background-color .2s;}
.ui-search-right:hover .ui-icon-search:before{border-color:#ababaf;}
.ui-search-right:hover .ui-icon-search:after{background-color:#ababaf;}
.ui-search-right>input:focus~.ui-icon-search:before{border-color:#00a5e0;}
.ui-search-right>input:focus~.ui-icon-search:after{background-color:#00a5e0;}
.ui-search-right .ui-placeholder{z-index:1;}
span.ui-search-right>.ui-placeholder{margin-left:0 !important;left:0;*left:9px;}
/* IE7 */@media screen\9{div.ui-input,span.ui-input{height:20px;padding:9px 8px;border:1px solid #d0d0d5;background-color:#fff;}
div.ui-input>input,span.ui-input>input{height:20px;border:0 none;padding:0;margin:-1px 0;float:none;}
input.ui-input,span.ui-input{vertical-align:middle;}
div.ui-search-input,span.ui-search-input{padding:8px 8px 10px 40px;}
div.ui-search-right,span.ui-search-right{padding-left:8px;padding-right:40px;}
.ui-icon-search{background-image:url(images/Input/icon-search.png);left:0;top:0;}
span.ui-search-right .ui-icon-search,div.ui-search-right .ui-icon-search{position:absolute;top:0;left:auto;right:0;margin:0;}}
/* disabled */.ui-input[disabled]:hover,.ui-input>input[disabled]:hover,.ui-input[readonly]:hover,.ui-input>input[readonly]:hover,.ui-input[readonly]:focus,.ui-input>input[readonly]:focus{border-color:#d0d0d5;}
/* error */.ui-input.error,.ui-input>.error{border-color:#f4615c !important;}
/** * * @Select.css**/
select{display:inline-block;height:30px;margin:0;border:1px solid #d0d0d5;opacity:0;filter:alpha(opacity=0);vertical-align:middle;}
select[hidden],select[hidden]+.ui-select{display:none;}
.ui-select{display:inline-block;*display:inline;*zoom:1;height:22px;vertical-align:middle;-webkit-animation:fadeIn .2s;animation:fadeIn .2s;font-size:12px;position:relative;}
.ui-select~.ui-button{vertical-align:middle;}
.ui-select.active{z-index:999;}
.ui-select-button{display:block;height:20px;line-height:20px;padding:0 27px 0 12px;color:#4c5161;border:1px solid #d0d0d5;border-radius:4px;background-color:#fff;-webkit-transition:border-color .15s,background-color .15s;transition:border-color .15s,background-color .15s;cursor:pointer;}
.ui-select-button:hover{color:#4c5161;border-color:#ababaf;}
:not(:disabled)+.ui-select>.ui-select-button:active{background-color:#f7f9fa;}
.active>a.ui-select-button{border-color:#00a5e0;border-radius:4px 4px 0 0;}
.reverse>.ui-select-button{border-radius:0 0 4px 4px;}
.ui-select-text{display:block;width:100%;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.ui-select-icon{position:absolute;width:20px;height:20px;background:url(images/Select/icon-arrow.png) no-repeat center;background-size:20px 20px;right:-8px;top:2px;}
:root .ui-select-icon{background-image:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCAyMDAgMjAwIj4NCjxwYXRoIGZpbGw9IiMwMEE1RTAiIGQ9Ik0xNDUuNjU5LDY4Ljk0OWMtNS4xMDEtNS4yMDgtMTMuMzcyLTUuMjA4LTE4LjQ3MywwTDk5LjQ3OSw5Ny4yMzMNCglMNzEuNzcyLDY4Ljk0OWMtNS4xLTUuMjA4LTEzLjM3MS01LjIwOC0xOC40NzMsMGMtNS4wOTksNS4yMDgtNS4wOTksMTMuNjQ4LDAsMTguODU3bDQ2LjE4LDQ3LjE0bDQ2LjE4MS00Ny4xNA0KCUMxNTAuNzU5LDgyLjU5OCwxNTAuNzU5LDc0LjE1NywxNDUuNjU5LDY4Ljk0OXoiLz4NCjwvc3ZnPg0K);}
.ui-select-datalist{position:absolute;left:0;right:0;top:21px;display:none;max-height:304px;padding:0;border:1px solid #00a5e0;background-color:#fff;overflow:auto;}
.ui-select-datalist::-webkit-scrollbar{width:8px;height:8px;}
.ui-select-datalist::-webkit-scrollbar-thumb{background-color:#bbb;border-radius:8px;}
.ui-select-datalist::-webkit-scrollbar-thumb:hover{background-color:#aaa;}
.ui-select-datalist::-webkit-scrollbar-track-piece{background-color:#ddd;}
.active>.ui-select-datalist{display:block;}
.reverse>.ui-select-datalist{top:auto;bottom:39px;}
.ui-select-datalist-li{display:block;line-height:20px;padding:0 12px;color:#4c5161;background-color:#fff;text-overflow:ellipsis;white-space:nowrap;-webkit-transition:background-color .15s;transition:background-color .15s;overflow:hidden;cursor:pointer;}
.ui-select-datalist-li:empty{display:none;}
.ui-select-datalist-li:hover{background-color:#f2fcff;}
.ui-select-datalist>.selected{background-color:#e0f7ff;}
/* disabled */select[disabled]+.ui-select{opacity:.38;filter:alpha(opacity=38);-webkit-animation:none;animation:none;}
select[disabled]+.ui-select .ui-select-button{cursor:default;border-color:#ababaf;}
/* error */.error .ui-select-button{border-color:#f4615c;}
*[class*='icon_'],i[class*='icon']{display:inline-block;width:14px;height:14px;vertical-align:text-top;margin-right:3px;background-size:cover;}
/*checkbox*/
input[type=checkbox]{position:absolute;clip:rect(0,0,0,0);/* IE8+ */ *left:-999px;}
/* 无绝对定位的模拟生成实现 */.ui-checkbox{display:inline-block;width:20px;height:20px;border:1px solid transparent;border-radius:4px;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-box-shadow:inset 0 1px,inset 1px 0,inset -1px 0,inset 0 -1px;box-shadow:inset 0 1px,inset 1px 0,inset -1px 0,inset 0 -1px;background-color:#fff;background-clip:content-box;color:#d0d0d5;-webkit-transition:color .2s,background-color .1s;transition:color .2s,background-color .1s;-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;user-select:none;vertical-align:-5px;*vertical-align:0;overflow:hidden;}
:not(:disabled)+.ui-checkbox:hover,:disabled+.ui-checkbox{color:#ababaf;}
:checked+.ui-checkbox,:checked+.ui-checkbox:hover{color:#00a5e0;background-color:#00a5e0;}
.ui-checkbox::after{content:'';display:block;width:100%;height:100%;background:url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIwMCIgaGVpZ2h0PSIyMDAiIHZpZXdCb3g9IjAgMCAyMDAgMjAwIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xNDcuNTY3LDY3LjU3NWMtMy45NzgtMy4yNDEtNC4zNTYtMy4zMzctOC45LTUuNjM5Yy0yLjA0NC0xLjA0NC01LjA1NywxLjY0NS02LjUzLDMuNjM1TDkyLDExNy43MjgNCglMNjUuODUxLDgzLjk3M2MtMS40NzktMS45ODgtNC4yMDYtMi43Mi02LjI1MS0xLjc4MmMtNC42NTgsMi40MDctNC4xODksMi4zMjYtOC4xNjgsNS40NjZjLTEuODE3LDEuNDY2LTEuOTMyLDQuMDgyLTAuNDU2LDYuMDY1DQoJYzAsMCwyOC4xODMsMzYuNDk5LDMxLjU5Miw0MC44OTZjNC45OTksNi4yNzUsMTQuMDksNS45NjUsMTguODY0LDBjMy41Mi00LjQ5OCw0Ni41OS02MS4wNzgsNDYuNTktNjEuMDc4DQoJQzE0OS40OTksNzEuNTQ5LDE0OS4zODUsNjguOTM3LDE0Ny41NjcsNjcuNTc1eiIvPg0KPC9zdmc+DQo=) no-repeat center;background-size:20px 20px;visibility:hidden;}
:checked+.ui-checkbox::after{visibility:visible;-webkit-animation:bounceIn .2s;animation:bounceIn .2s;}
:disabled+.ui-checkbox{opacity:.38;}
/* error */.error.ui-checkbox{color:#f4615c;}
/*IE7,IE8 使用图片作UI*/@media \0screen\,screen\9{.ui-checkbox{background:url(images/Checkbox/checkbox.png) no-repeat;}
.ui-checkbox:hover{background-position:0 -20px;}
[checked]+.ui-checkbox,[checked][disabled]+.ui-checkbox{background-position:0 -40px;}
[defaultChecked]+.ui-checkbox,[defaultChecked][disabled]+.ui-checkbox{background-position:0 -40px;}
[disabled]+.ui-checkbox{/* disabled态使用高亮边框 */ background-position:0 -20px;filter:alpha(opacity=38);}}
i{font-style:normal;}
.hide{display:none;}
.w200{width:200px;}
.ui-select{min-width:80px;}
.visibleHidden{visibility:hidden;} .mrHalfem{margin-right:0.8em;}
.mr1em{margin-right:1em;}
.mb1em{margin-bottom:1em;}
.mt2em{margin:1em;margin-bottom:0;}
/*菜单*/
.subMenu{text-indent:1em;line-height:2;font-size:12px;color:#666;}
.menuTopTitle,.menuListTitle{line-height:2;font-size:12px;font-weight:600;color:#666;}
.menuListTitle{cursor:pointer;}
.theLastItem{font-size: 11px;font-weight:400;cursor:pointer;max-width:160px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.menuListTitle.activeMenuListTitle{color:#3f73ae;}
.activeTheLastItem{color:#508acd;font-weight: 600;font-size: 11px;}
/*btn*/
.l-btn-plain,.l-btn{padding:0 3px;}
.l-btn-plain:hover,.l-btn:hover{background:#f3f4f5;padding:0 3px;border:1px solid #fff;}
.messager-button .l-btn{background-color:#3f73ae;outline:0;color:#fff;opacity:0.8;}
form label{line-height:22px;vertical-align:middle;height:22px;display:inline-block;}
.menuTopTitle{position:relative;}
.form_a{display:inline-block;line-height:26px;height:26px;margin-top:1px;}
.panel-header,.panel-body,.accordion{border-color:#E3E8F1;}
/*icon*/
.icon>svg{display:block;width:14px;height:14px;margin:0px;fill:currentColor;}
.icon-menu>svg{width:10px;margin-top:2px;height:10px;}
.icon-item{width:10px;height:10px;}
i.icon.icon-circle{margin-right:0;margin-top:0px;}
.icon-remove,.icon-help{opacity:0.8;filter:alpha(opacity=80);}
/****dialog */
.dialog-button{background:#eeeeee;}
.dialog{width:600px;height:400px;position:relative;}
.dialog .wrapDiv{position:absolute;left:0;top:0;bottom:0;right:0;}
.dialogBodyCls{text-align:center;height:60px;line-height:60px;font-size:14px;}
.dialogCls .window,.dialogCls .window-shadow{position:fixed;top:2em !important;bottom:2em;overflow:hidden;width:600px !important;left:50% !important;margin-left:-300px;}
/****datagrid */
#posDiv{position:absolute;left:14px;right:14px;top:0;bottom:0em;}
.datagrid-btn-separator{border-left:1px solid #eee;}
.datagrid-view2 .datagrid-row-alt{background:#f3f4f5;}
.datagrid-view2 .datagrid-body td{font-weight:400;}
.datagrid .panel-body{border-bottom:1px solid #eeeeee;}
.datagrid-view2 .datagrid-row-selected,.datagrid-row-selected{background-color:#e0f0ff;}
.datagrid-header,.datagrid-td-rownumber{background:#f7f9fa;}
.datagrid-htable{font-weight:600;text-align:center;}
.datagrid-header .datagrid-cell,.datagrid-body .datagrid-cell,.datagrid-footer .datagrid-cell{padding:2px 1em;font-size:12px;}
.datagrid-view2 .datagrid-row-selected{background-color:#e0f0ff;}
#warningContainer,#wrapTable,#btnEffect,.right,.left{transition:0.5s all;-webkit-transition:0.5s all;-ms-transition:0.5s all;}

.right{display:none;}
.active .left{display:none;}
.active .right{display:inline-block;}
.maxDataGrid #btnEffect{right:6px;}
i{font-style:normal;}

#ohForm{float:left;width:100%; line-height: 22px; vertical-align: middle;}

.datagrid input[type="checkbox"] {
    position: static;
}
.w200{width:160px;}

/**********动画css**********/
@-webkit-keyframes tinydown {
  0%,
  5% {
    opacity: 0;
    -webkit-transform: translateY(-10px); }
  10% {
    opacity: 1;
    -webkit-transform: translateY(-10px); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes tinydown {
  0%,
  5% {
    opacity: 0;
    transform: translateY(-10px); }
  10% {
    opacity: 1;
    transform: translateY(-10px); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes falldown {
  form {
    -webkit-transform: translateY(-5px); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes falldown {
  form {
    transform: translateY(-5px); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes raiseup {
  from {
    -webkit-transform: translateY(5px); }
  to {
    -webkit-transform: translateY(0); } }

@keyframes raiseup {
  from {
    transform: translateY(5px); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(-360deg); } }

@keyframes spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(-360deg); } }

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(-360deg); }
  100% {
    -webkit-transform: rotate(0); } }

@keyframes spin2 {
  0% {
    transform: rotate(-360deg); }
  100% {
    transform: rotate(0); } }

@-webkit-keyframes bounceIn {
  0% {
    -webkit-transform: scale(0); }
  75% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1); } }

@keyframes bounceIn {
  0% {
    transform: scale(0); }
  75% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/**
 * 
 * @Loading.css
 *
**/
/*
 * 结构如下：
 * <div class='ui-loading'>
     <i class='ui-loading-icon'>  <!-- 使用s标签表示小尺寸的loading图标 -->
 *  
*/
.ui-loading {
  position: relative; }

.ui-loading.ui-loading-animation {
  -webkit-animation: fadeIn .5s both;
  animation: fadeIn .5s both; }

.ui-loading-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/loading/loading-blue.gif);
  /* IE10+ */
  background: url(../images/loading/loading-blue.png), linear-gradient(transparent, transparent);
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 800ms linear infinite; }

.ui-loading > .ui-loading-icon {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px; }

s.ui-loading-icon {
  width: 20px;
  height: 20px;
  background: url(../images/loading/loading-blue-s.gif);
  background: url(../images/loading/loading-blue-s.png), linear-gradient(transparent, transparent); }

.ui-loading > s.ui-loading-icon {
  margin: -10px 0 0 -10px; }

.ui-loading-primary {
  background-color: #00a5e0; }

.ui-loading-primary > .ui-loading-icon {
  background: url(../images/loading/loading-white.gif);
  background: url(../images/loading/loading-white.png), linear-gradient(transparent, transparent); }

.ui-loading-primary > s.ui-loading-icon {
  background: url(../images/loading/loading-white-s.gif);
  background: url(../images/loading/loading-white-s.png), linear-gradient(transparent, transparent); }

.fix-loading
{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    right: 0;
    left: 0;z-index:99;
    height: 100%!important;
    width: 100%!important;
    background: rgba(255,255,255,0.8);
}
.fix-loading span{margin-top:-30px;}


/**账单设置*/
 span.btn-cell{display:inline-block;line-height:28px;height:28px;color:#e1e1e1;}
.gridBodyClsWithTitle {
    position: absolute!Important;
    left: 16px;
    right:16px;
    top: 36px;
    bottom: 16px;
    overflow:  auto;
    width:  auto!important;
    height: auto!important;
    overflow:  hidden;
    border: 1px solid #ddd;
    box-sizing:border-box;
}
.datagrid .panel-body{border-bottom: 1px solid #ddd;}

.subMenu {
    display: none;
}

.showOr .subMenu
{
    display:inline-block;
 }
.datagrid-toolbar .textbox, .datagrid-toolbar .textbox-icon, .datagrid-toolbar .textbox-text, .datagrid-toolbar .l-btn, .datagrid .panel-footer .l-btn, .datagrid-toolbar .searchbox-button, .datagrid-toolbar .textbox-label {
    height: 20px !important;line-height: 22px !important;
    border-radius: 4px;color:#4c5161;
}

#old{    border: 1px solid #ddd;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    top: 50px;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    text-indent: 20px;}